body {
    height: 100vh;
    margin: 0;
    background-color: rgb(190, 189, 189);
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    height: 60vh;

    /* overflow: auto; */

    z-index: 1;
}

nav {
    background-color: black;
    filter: drop-shadow(0px 4px 7px rgb(63, 63, 63));
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.navlinks {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navlink > a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.navlink > a:hover {
    background-color: lightgray;
    color: black;
}

#group1, #group2 {
    display: flex;
    flex-direction: row;
}

#hamburger-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#hamburger-button {
    display: none;
}

@media (max-width: 650px) {
    #hamburger-button {
        display: block;
        padding: 5px;
    }

    nav {
        display: none;
    }

    nav.open {
        display: block;
        position: absolute;
        top: 40px;
        right: 0;

        z-index: 1;
    }

    .navlinks {
        flex-direction: column;
    }

    #group1, #group2 {
        flex-direction: column;
    }
}

.homepicture {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    margin: 0;

    background: url(../images/titlephoto.png);
    background-size: cover;
}

.ship {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 40px;

    position: relative;
    z-index: 0;

    animation-name: ship;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes ship {
    from {
        right: 1000px;
      }
    
      to {
        right: 0px;
      }
}

.ship > img {
    width: 40%;
    height: auto;
}

.name {
    margin: 0px;
    background-color:rgb(63, 63, 63);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color:rgb(63, 63, 63);
    width: 20%;
    height: 100%;

    align-items: center;
    color: white;
}

.sidebar > img {
    width: 60%;
    height: auto;
    margin: 5px;

    border: 2px solid;
    border-color: green;
    border-radius: 10px;
}

.sidebar > p {
    margin: 10px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    margin: 5px;
    width: 60%;
    height: 100%;

}

.card {
    display: flex;
    flex-direction: column;

    width: 90%;
    height: 50%;

    background-color: white;
    border: 2px solid;
    border-radius: 15px;
    margin: 15px;
    filter: drop-shadow(5px 4px 1px #8a8a8a);
}

.card > h1 {
    margin: 20px;
    margin-bottom: 5px;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card-description {
    margin: 5px;
}

.card-photo > img {
    width: 70%;
    height: auto;
}

.buynow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
}

.buynow > a {
    text-decoration: none;
    margin: 10px;
    font-size: 64px;

}