body {
    height: 100vh;
    margin: 0;
    background-color: rgb(190, 189, 189);
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    height: 100%;

    z-index: 1;
}

nav {
    background-color: black;
    filter: drop-shadow(0px 4px 7px rgb(63, 63, 63));
}

.navlinks {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navlink > a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.navlink > a:hover {
    background-color: lightgray;
    color: black;
}

#group1, #group2 {
    display: flex;
    flex-direction: row;
}

#hamburger-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#hamburger-button {
    display: none;
}

@media (max-width: 650px) {
    #hamburger-button {
        display: block;
        padding: 5px;
    }

    #hamburger-container {
        background-color:rgb(63, 63, 63);
    }

    nav {
        display: none;
    }

    nav.open {
        display: block;
        position: absolute;
        top: 40px;
        right: 0;

        z-index: 1;
    }

    .navlinks {
        flex-direction: column;
    }

    #group1, #group2 {
        flex-direction: column;
    }
}

.name {
    margin: 0px;
    background-color:rgb(63, 63, 63);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color:rgb(63, 63, 63);
    width: 20%;
    height: 100%;

    align-items: center;
    color: white;
}

.sidebar > img {
    width: 60%;
    height: auto;
    margin: 5px;

    border: 2px solid;
    border-color: green;
    border-radius: 10px;
}

.sidebar > p {
    margin: 10px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    margin: 5px;
    width: 60%;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border: 2px solid;
    border-radius: 15px;
    margin: 15px;

    width: 100%;

    filter: drop-shadow(5px 4px 1px #8a8a8a);
}

.card-content {
    display: flex;
    flex-direction: row;
}

.card-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    width: 50%;
    margin: 10px;
}

.card-photo > img {
    width: 90%;

    border: 2px solid;
    border-radius: 15px;
}

.card-description {
    width: 50%;
    height: auto;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding-left: 0;
}

.card-info > li {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: 14pt;
}
.card-info > li > span a {
    font-weight: normal;
    font-size: 12pt;
    text-align: left;
}

.hours {
    display: flex;
    flex-direction: column;
}

.hours > li {
    font-size: 12pt;
    font-weight: normal;
    padding-inline-start: 0;
}